
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="../static/fighters/css/styles.css">
</head>
<body>
<div class="container">
{% block content %}

{% endblock content%}
</div>

<script type="text/css" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/core.js"></script>


{% block content %}

{% endblock content%}

<script type="text/javascript" src="../static/fighters/js/main.js"></script>
</body>
</html>