<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fight!</title>

    <link rel="stylesheet" type="text/css" href="../static/fighters/css/styles.css">
</head>
<body class="ring">
    <div class="container">
        <div class="row">
            <div class="col" id="yourHealth"><div id="yourHealthBar"></div></div>
            <div class="col" id="compHealth"><div id="compHealthBar"></div></div>
        </div>
        <div class="row">
            <div class="col-md-2 buttons">
                <button class="row button" id="attack-button">Attack</button>
                <button class="row button" id="attack2-button">Attack</button>
                <button class="row button" id="attack3-button">Attack</button>
            </div>
        </div>
        <div>
            <div class="hero">
                <div class="wrapper">
                    <div class="head"><img src="../static/fighters/media/zack.jpg" alt=""></div>
                    <div class="torso"></div>
                    <div class="leftarm"></div>
                    <div class="rightarm"></div>
                    <div class="leftleg"></div>
                    <div class="leftfoot"></div>
                    <div class="rightleg"></div>
                    <div class="rightfoot"></div>
                </div>
            </div>
            <div class="villain">
                <div class="wrapper">
                    <div class="head"></div>
                    <div class="torso"></div>
                    <div class="leftarm"></div>
                    <div class="rightarm"></div>
                    <div class="leftleg"></div>
                    <div class="leftfoot"></div>
                    <div class="rightleg"></div>
                    <div class="rightfoot"></div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script type="text/javascript" src="../static/fighters/js/main.js"></script>
</body>
</html>