{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sitcom Deathmatch</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/fighters/css/styles.css">
</head>
<body>


<div class="app"></div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.0/handlebars.js"></script>

<script id="welcome-screen" type="text/x-handlebars-template">
    <audio src="../static/fighters/media/mainsong.mp3" autoplay></audio>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
          <h1 class="display-4">Heroes</h1>
          <h1 class="display-4">vs.</h1>
          <h1 class="display-4">Villains</h1>
          <p class="lead text-center">Take control of your favorite sitcom stars and help them defeat their arch nemesis.</p>
    </div>
       <select class="" id="hero_menu">
            <option></option>
        </select>
        <select class="" id="villain_menu">
            <option></option>
        </select>
        <button type="button" id="rand">random villain</button>
          <a id="next-button" class="btn btn-primary" href="#">Fight!</a>
      </div>
    </div>
</script>

<script id="next-screen" type="text/x-handlebars-template">
    <audio src="../static/fighters/media/main.mp3" autoplay></audio>
    <div class="container ring">

        <div class="row">
            <div class="col" id="yourHealth"><div id="yourHealthBar"></div></div>
            <div class="col" id="compHealth"><div id="compHealthBar"></div></div>
        </div>
        <div class="row">
            <div class="col-md-2 buttons">
                <p></p>
                <button class="row button" id="attack-button">Attack</button>
                <button class="row button" id="attack2-button">Attack</button>
                <button class="row button" id="attack3-button">Attack</button>
            </div>
        </div>
        <div>
            <div class="hero">
                <div class="wrapper">
{#                    I know this image isn't setup right, but it's going to be similar once we pass in the var name to the curly brackets#}
{#                    they may go inside the apostrophes though.#}
                    <div class="head"><!--<img src="{% static 'fighters/media/' {{  }} %}.png" alt="">--></div>
                    <div class="torso"></div>
                    <div class="leftarm"></div>
                    <div class="rightarm"></div>
                    <div class="leftleg"></div>
                    <div class="leftfoot"></div>
                    <div class="rightleg"></div>
                    <div class="rightfoot"></div>
                </div>
            </div>
            <div class="villain">
                <div class="wrapper">
                    <div class="head"></div>
                    <div class="torso"></div>
                    <div class="leftarm"></div>
                    <div class="rightarm"></div>
                    <div class="leftleg"></div>
                    <div class="leftfoot"></div>
                    <div class="rightleg"></div>
                    <div class="rightfoot"></div>
                </div>
            </div>
        </div>
        <a id="back-button" class="btn btn-primary" href="#">Back a Screen</a>
    </div>
</script>

<script id="gameover-screen" type="text/x-handlebars-template">

</script>
<script type="text/javascript" src="../static/fighters/js/models.js"></script>
<script type="text/javascript" src="../static/fighters/js/main.js"></script>
</body>
</html>