{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Sitcom Deathmatch</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../static/fighters/css/styles.css">
    </head>
    <body>

        <div class="container-fluid">
            <div class="app"></div>


            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
            <script type="text/javascript"
                    src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.0/handlebars.js"></script>

            <script id="welcome-screen" type="text/x-handlebars-template">
                <div id="main-page">
                    <audio id="pause" src="../static/fighters/media/theoffice.mp3" autoplay></audio>
                    <audio id="startFight">
                        <source src="../static/fighters/media/gamestart.mp3">
                    </audio>
                    <div class="logo">
                        {#        <img class="logo-width" src="../static/fighters/media/sitcom-logo.png" alt="sitcom logo">#}
                    </div>

                    <div class="margin-auto">
                        <audio id="gameStart"></audio>
                        <a onclick="document.getElementById('startFight').play(); document.getElementById('pause').pause()"
                           id="next-button" class="btn btn-primary" href="#">Fight!</a>
                        <div class="padding">
                            <select class="row margin-auto padding" id="hero_menu">
                                <option></option>
                            </select>
                        </div>
                    </div>

                </div>
                </div>
            </script>

            <script id="next-screen" type="text/x-handlebars-template">

                <audio src="../static/fighters/media/mortalkombat.mp3" autoplay></audio>
                <div class="container ring">

                    <div class="row">
                        <div id="hero-name">
                        </div>
                        <div class="col" id="yourHealth">
                            <div id="yourHealthBar"></div>
                        </div>
                        <div class="col" id="compHealth">
                            <div id="compHealthBar"></div>
                        </div>
                    </div>
                    <div id="disappear">
                        <img id="saint" src="../static/fighters/media/fight.gif" alt="Fight!">
                    </div>
                    <div class="row">
                        <p class="col-md-6 text-white font-weight-bold" id="yourName"></p>
                        <p class="col-md-6 text-right text-white font-weight-bold" id="theirName"></p>
                    </div>
                    <div class="row">
                        <div class="col-md-2 buttons">
                            <button class="row button" id="attack-button">Attack</button>
                        </div>
                    </div>
                    <div>
                        <div class="hero">
                            <div class="wrapper">
                                <div class="head" id="hero_avatar"></div>
                                <div class="torso"></div>
                                <div class="leftarm"></div>
                                <div class="rightarm"></div>
                                <div class="leftleg"></div>
                                <div class="leftfoot"></div>
                                <div class="rightleg"></div>
                                <div class="rightfoot"></div>
                            </div>
                        </div>
                        <div class="villain">
                            <div class="wrapper">
                                <div class="head" id="villain_avatar"></div>
                                <div class="torso"></div>
                                <div class="leftarm"></div>
                                <div class="rightarm"></div>
                                <div class="leftleg"></div>
                                <div class="leftfoot"></div>
                                <div class="rightleg"></div>
                                <div class="rightfoot"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </script>

            <script id="gameover-screen" type="text/x-handlebars-template">
                <audio src="../static/fighters/media/gameover.mp3" autoplay></audio>
                <div class="container-fluid">
                    <img class="gameover" src="../static/fighters/media/game_over.gif" alt="game over">
                </div>
                <div id="wait">
                    <a href="/"><img id="paint" src="../static/fighters/media/insertcoin.gif" alt="restart"></a>
                </div>
            </script>
            <script type="text/javascript" src="../static/fighters/js/models.js"></script>
            <script type="text/javascript" src="../static/fighters/js/main.js"></script>
    </body>
</html>